@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.pandRWrapper {
  position: absolute;
  z-index: 10;
  right: $size-md;
  bottom: -2.75rem;
  width: 308px;
  height: 72px;
  border: 1px solid get-color(borderCol);
  border-radius: 5px;

  > div {
    padding-top: $size-md;
  }
}

.content {
  display: flex;
  margin-right: $size-md;
  margin-left: $size-md;
}

.listViewWrapper {
  position: static;
  width: 288px;
  height: 132px;

  h3 {
    color: get-color(primary);
    font-size: $size-lg;
  }
}
