@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.pandRWrapper {
  position: absolute;
  z-index: 10;
  right: $size-md;
  bottom: $size-xs;
  width: 308px;
  height: 72px;
  border: 1px solid get-color(borderCol);
  border-radius: 5px;
}

.content {
  display: flex;
  margin: $size-md;
}
